<app-navbar></app-navbar>
<h2 style="margin: 15px 0 0 15px">Hello {{ user.Username }}!</h2>
<div style="display: flex; margin: 15px">
  <mat-card class="user-info">
    <mat-card-header>
      <mat-card-title>Your Profile Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3><b>Username: </b>{{ this.user.Username }}</h3>
      <h3><b>Email: </b>{{ user.Email }}</h3>
      <h3><b>Birthday: </b>{{ user.Birthday }}</h3>
      <br />
      <!-- <h3><b>Favourite Movies:</b> {{ user.FavouriteMovies }}</h3> -->
      <button
        class="profile-btn"
        mat-raised-button
        (click)="openEditUserProfile()"
        style="margin-right: 10px"
        color="primary"
      >
        Edit Profile
      </button>
      <button
        class="profile-btn"
        color="warn"
        mat-raised-button
        (click)="deleteUserProfile()"
      >
        Delete Profile
      </button>
    </mat-card-content>
  </mat-card>
</div>

<div>
  <div *ngIf="displayElement; else message">
    <h2>Favourite movies</h2>
    <mat-card *ngFor="let movie of favMovies; let i = index">
      <mat-dialog-content>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle
          ><img src="{{ movie.ImagePath }}"
        /></mat-card-subtitle>
        <mat-card-header>
          <button
            class="director-button"
            mat-button
            color="grey"
            (click)="
              openDirectorDialog(
                movie.Director.Name,
                movie.Director.Bio,
                movie.Director.Birth
              )
            "
          >
            Director Details
          </button>

          <button
            class="genre-button"
            mat-button
            color="grey"
            (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
          >
            Genre Details
          </button>
          <button
            class="synopsis-button"
            mat-button
            color="grey"
            (click)="
              openSynopsis(movie.Title, movie.ImagePath, movie.Description)
            "
          >
            Synopsis
          </button>
          <button
            class="delete-button"
            mat-button
            color="grey"
            (click)="removeFav(movie._id)"
          >
            Delete Movie from your favourite movie list
          </button>
        </mat-card-header>
      </mat-dialog-content>
    </mat-card>
  </div>
  <ng-template #message>
    <h2>You don't have any favourite movies in your list</h2>
  </ng-template>
</div>
